{% extends "hs/base-site.html" %}
{% block title %}实时排名 -HS SCIE eSports Club{% endblock %}
{% block jumbotron %}
    <h1>实时排名 - 炉石排位赛测试赛季</h1>
    <p>挑战确认可能会有延迟，请选手在挑战结束后尽快告知工作人员挑战结果，谢谢。</p>
    {% if latest_contestant_list %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                {% for each in latest_contestant_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'hs:contestant_detail' each.id %}">{{ each.name }}</a></td>
                        <td>{{ each.score }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <p>No results are available.</p>
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="row">
            <h2>你好，{{ user.username }}。</h2>

            <h3>排名为不公开信息，请不要泄露本页面的任何信息，谢谢</h3>
        </div>
    {% else %}
        <div class="row">
            <h2>你好，本赛季中排名为不公开信息。</h2>

            <h2>工作人员请点击右上角Login登录。</h2>
        </div>
    {% endif %}

{% endblock %}
