{% extends "hs/base-site.html" %}
{% load bootstrap3 %}

{% block title %}登录 -HS SCIE eSports Club{% endblock %}

{% block jumbotron %}
    <h2>您可以在这里修改密码</h2>
    <h3>如果你忘记了当前密码请及时联系电竞社工作人员。</h3>
{% endblock %}

{% block content %}
    <div class="row">
        <form action="{% url 'hs:password_change' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Change Password</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
